modules/wem-api/src/main/resources/com/enonic/wem/api/xml/schema/common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            elementFormDefault="qualified" jaxb:version="2.1">

  <xsd:complexType name="vendor">
    <xsd:all>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="url" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>

</xsd:schema>
