modules/wem-api/src/main/resources/com/enonic/wem/api/xml/schema/image-component.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            elementFormDefault="qualified" jaxb:version="2.1">

  <xsd:include schemaLocation="form.xsd"/>

  <!-- Part component element -->
  <xsd:element name="image-component" type="imageDescriptor"/>

  <xsd:complexType name="imageDescriptor">
    <xsd:all>
      <xsd:element name="display-name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="config" type="form" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>


</xsd:schema>