modules/wem-api/src/main/resources/com/enonic/wem/api/xml/schema/template.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            elementFormDefault="qualified" jaxb:version="2.1">

  <xsd:complexType name="siteTemplate">
  </xsd:complexType>

  <xsd:complexType name="pageTemplate">
  </xsd:complexType>

  <!-- Site template element -->
  <xsd:element name="site-template" type="siteTemplate"/>

  <!-- Page template element -->
  <xsd:element name="page-template" type="pageTemplate"/>

</xsd:schema>
