modules/core-api/src/main/resources/META-INF/xsd/export.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           xmlns="urn:enonic:xp:export:1.0" targetNamespace="urn:enonic:xp:export:1.0"
           elementFormDefault="qualified">

  <xs:complexType name="node">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="inheritPermissions" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="permissions" type="permissions"/>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="childOrder" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="nodeType" type="xs:string"/>
      <xs:element name="data" type="propertyTree"/>
      <xs:element minOccurs="0" maxOccurs="1" name="indexConfigs" type="indexConfigs"/>
      <xs:element minOccurs="0" maxOccurs="1" name="timestamp" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="propertyTree">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element name="localDateTime" type="property"/>
        <xs:element name="string" type="property"/>
        <xs:element name="double" type="property"/>
        <xs:element name="long" type="property"/>
        <xs:element name="geoPoint" type="property"/>
        <xs:element name="boolean" type="property"/>
        <xs:element name="dateTime" type="property"/>
        <xs:element name="localDate" type="property"/>
        <xs:element name="localTime" type="property"/>
        <xs:element name="binaryReference" type="property"/>
        <xs:element name="reference" type="property"/>
        <xs:element name="link" type="property"/>
        <xs:element name="htmlPart" type="property"/>
        <xs:element name="xml" type="property"/>
        <xs:element name="property-set" type="propertySet"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:attributeGroup name="propertyAttributeGroup">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="isNull" type="xs:boolean" use="optional"/>
  </xs:attributeGroup>

  <xs:complexType name="propertySet">
    <xs:complexContent>
      <xs:extension base="propertyTree">
        <xs:attributeGroup ref="propertyAttributeGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="property">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="propertyAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="indexConfig">
    <xs:sequence>
      <xs:element name="decideByType" type="xs:boolean"/>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="nGram" type="xs:boolean"/>
      <xs:element name="fulltext" type="xs:boolean"/>
      <xs:element name="includeInAllText" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="indexValueProcessors">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="indexValueProcessor" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pathIndexConfig">
    <xs:sequence>
      <xs:element name="indexConfig" type="indexConfig"/>
      <xs:element name="path" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="indexConfigs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="analyzer" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="defaultConfig" type="indexConfig"/>
      <xs:element minOccurs="0" maxOccurs="1" name="pathIndexConfigs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="pathIndexConfig" type="pathIndexConfig"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="permissions">
    <xs:sequence>
      <xs:element name="principal" maxOccurs="unbounded" minOccurs="0" type="principal">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="principal">
    <xs:sequence>
      <xs:element name="allow" type="accessRightList" maxOccurs="1" minOccurs="1"/>
      <xs:element name="deny" type="accessRightList" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="key" use="required"/>
  </xs:complexType>

  <xs:complexType name="accessRightList">
    <xs:sequence>
      <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>

  <xs:element name="node" type="node"/>

</xs:schema>
